div, h1, img {
/*	border: 1px solid red;*/
}
body {
	background-image: url("file:///Users/MHH/Documents/Projects/Quiz-App/images/perfumebg.jpg");
	background-size: cover;
	background-repeat: none;
	opacity: 50%;

}
.startPage, .questionPage, .questionExplanation, .endingPage,
.content, .background {
	width: 600px;
	height: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: 5em;
	margin-top: 100px;
}
.content {
	z-index: 100;
}
.background {
	position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-color: white;
    z-index: -100;
    /* These three lines are for transparency in all browsers. */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .2;
}

.startPage, .quizTitle, .startButton {
	text-align: center;
}

.quizTitle, .question, .choicesBox, .submit {
	font-family: 'Julius Sans One', sans-serif;
}

.quizTitle, .question {
	width: 600px;
	font-size: 2em;
	font-weight: 500;
	color: white;
	padding-top: 1em;

}

.startButton {
	text-shadow: none;
	border-style: none;
	border-radius: 3px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 100px;
	font-size: 1.1em;
	color: #ffffff;
/*	background-color: #FF5930;*/
	margin-top: .5em;
	z-index: 99;


}
.buttonDiv {
	position: relative;
	top: 65%;
    text-align: center;
}
.startButton:hover {
	cursor: pointer;
	background-color: black;
}

.questionPage {
	text-align: center;

}

.question {

}

.choicesBox{
	width: 600px;
	text-align: left;
	margin-left: 30px;
}

.choice {
/*	margin-left: 6em;*/
	margin-top: 4em;
}

.submit {
	float: right;
}

label {
	color: white;
	font-size: 1.2em;
    display: block;
    margin-left: 20px;
    height: 80px;
    margin-bottom: 10px;
}
input {
    float: left;
    margin-left: -30px;
    margin-right: 7px;
    margin-bottom: 0px;
	margin-top: 0px;
    width: 25px;
    height: 20px;
}
.choiceDiv {
	width: 540px;
	height: 100%;
}

.startPage {
	display: none;
}

.questionExplanation {
	display: none;
}

.endingPage {
	display: none;
}